<%- include('../layouts/adminheader') %>

<link rel="stylesheet" href="/css/category-sty.css">
<br><br>
<div class="container2">
    <h2 class="scholarship-title">Scholarships</h2>
    <br>
    <br>
    <a href="/admin/scholarships/add-scholarship" class="btn btn-primary">Add a new scholarship</a>
    <br><br>
    <table class="table table-striped sorting">
        <thead>
            <tr class="home">
                <th>Title</th>
                <th>Description</th>
                <th>Time</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% scholar.forEach(function(sch) { %>
                <tr id="id_<%= sch._id %>" class="<%= sch.slug %>">
                    <td><%= sch.title %></td>
                    <td><%= sch.desc %></td>
                    <td><%= sch.time %></td>
                    <td><img src="/<%= sch.image %>" alt="Scholarship Image" class="scholarship-image"></td>
                    <td><a href="/admin/scholarships/edit-scholarship/<%= sch.slug %>">Edit</a></td>
                    <td><a class="confirmDeletion" href="/admin/scholarships/delete-scholarship/<%= sch._id %>">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<br><br>
<%- include('../layouts/footer') %>
