<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/body.css">
    
</head>
<body>
    <div class="box">
        <div class="text-b1">
            <div class="line">
                   Browse thousands of degrees from around 
            </div>
            <div class="line2">
                    the  world
            </div>
        </div>
        
        <div class="boxs">
            <div class="custom-dropdown">
                <button class="custom-dropdown-btn" id="studyDropdownBtn">
                    <span class="custom-icon">&#128269;</span> <!-- Search icon -->
                    <input type="text" id="studyInput" placeholder="What do you want to study">
                    <span>&#9660;</span>
                </button>
                <div class="custom-dropdown-content" id="studyDropdownContent">
                    <% programs.forEach(function(program) { %>
                        <a href="#"><%= program.title %></a>
                    <% }); %>
                </div>
            </div>
        
            <div class="custom-dropdown">
                <button class="custom-dropdown-btn" id="placeDropdownBtn">
                    <span class="custom-icon">&#128269;</span> <!-- Search icon -->
                    <input type="text" id="placeInput" placeholder="Where do you want to study">
                    <span>&#9660;</span>
                </button>
                <div class="custom-dropdown-content" id="placeDropdownContent">
                    <% programs.forEach(function(program) { %>
                        <a href="#"><%= program.place %></a>
                    <% }); %>
                </div>
            </div>
        
            <div class="search">
                <button id="searchButton">Search</button>
            </div>
            <script src="js/bodydrop.js"></script>
        </div>
        
    </div>
     <br>
     <br>
     <div class="horizontal-line-container">
        <div class="horizontal-line"></div>
    </div>
    <div class="cat-container">
        <div class="tit-cat">
            <div class="cat-title">
                Browse programs by category
            </div>
            <div>
                <a href="/all-category" class="cat-btn">View all the disciplines</a>

            </div>
        </div>
        <div class="card-container">
            <% categorys.forEach(function(category) { %>
                <% if(category.front==1)  { %>
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-title"><%= category.title %></h2>
                        <p class="card-description"><%= category.txt1 %></p>
                        <p class="card-description"><%= category.txt2 %></p>
                        <p class="card-description"><%= category.txt3 %></p>
                        <!-- Additional content to be displayed on hover -->
                        <div class="additional-info">
                            <!-- Add content here -->
                        </div>
                    </div>
                </div>
                <% } %>
            <% }) %>
        </div>
        
        </div>
        
    </div>
    <div class="black-body"></div>

    <div class="sch-container">
        <div class="tit-cat">
            <div class="cat-title">
                Scholarships for international students
            </div>
            <div>
                <button class="cat-btn">View all</button>
            </div>
        </div>
    
        <div class="sch-txt">
            Worried about your study costs?
        </div>
        <div class="sch-cards">

            <% scholarship.forEach(function(scholar) { %>
            <div class="box-sch">
                <img src="/<%= scholar.image %>" alt="Image Description">
                <div class="content">
                    <h2><%= scholar.title %></h2>
                    <br><br>
                   <div class="data">
                        <div class="txt-data">
                            <%= scholar.time %>
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>            
            
        </div>
    </div>


    <div class="sch-container">
        <div class="tit-cat">
            <div class="cat-title">
                Discover study abroad countries
            </div>
            <div>
                <button class="cat-btn">View all</button>
            </div>
        </div>
    
        <div class="sch-txt">
            Explore our detailed breakdowns of the study abroad destinations around the world!
        </div>
        <div class="sch-cards">
            <% country.forEach(function(con) { %>
                <div class="box-sch">
                    <img src="/<%= con.image %>" alt="Image Description">
                    <div class="content">
                        <h2><%= con.title %></h2>
                        <br><br>
                       <div class="data">
                            <div class="txt-data">
                                <%= con.time %>
                            </div>
                            <div class="read-data">
                                Read-More
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>  
            
        </div>
    </div>

    <div class="sch-container">
        <div class="tit-cat">
            <div class="cat-title">
                Student guides and tips
            </div>
            <div>
                <button class="cat-btn">View all</button>
            </div>
        </div>
    
        <div class="sch-txt">
            Learn our best tips for studying abroad!
          </div>
        <div class="sch-cards">

            <div class="box-sch">
                <img src="/images/guide-1.jpg" alt="Image Description">
                <div class="content">
                    <h2>How to Study Abroad: The Ultimate Guide for International Students in 2024</h2>
                   <br><br>
                   <div class="data">
                        <div class="txt-data">
                            Jan 1, 2024
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="/images/guide-2.jpg" alt="Image Description">
                <div class="content">
                    <h2>Top 10 Places in the World to Study Abroad - 2024</h2>
                    <br><br>
                   <div class="data">
                        <div class="txt-data">
                            Jan 1, 2024
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="/images/guide-3.jpeg" alt="Image Description">
                <div class="content">
                    <h2>The Cheapest Countries to Study In Europe</h2>
                    <br><br>
                   <div class="data">
                        <div class="txt-data">
                            Oct 20, 2022
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="/images/guide-4.jpg" alt="Image Description">
                <div class="content">
                    <h2>Degree Guides</h2>
                    <br><br>
                   <div class="data">
                        <div class="txt-data">
                            Oct 11, 2022
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>


</body>
</html>
